body {
  background-image: url("/images/millican.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  height: 100vh;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.user-name {
  display: inline-block;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.logo {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  height: 50px;
}

#signOutBtn {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

h1 {
  text-align: center;
  margin: 40px;
}

.btn-warning:hover {
  background-color: yellow;
}

.btn-dark:hover {
  background-color: gray;
}

.btn-danger:hover {
  background-color: rgb(236, 96, 96);
}

.search {
  position: relative;
}

#contactSearchResult {
  display: table;
  margin: 0 auto;
}

.search input {
  height: 55px;
  text-indent: 20px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid rgb(233, 191, 67);
}

.search button {
  position: absolute;

  top: 5px;
  right: 5px;

  height: 45px;
  width: 105px;
}

#createContactButton {
  margin-top: 10px;
  margin-bottom: 20px;
}

#createContactResult,
#editContactResult,
#deleteContactResult {
  display: table;
  margin: 0 auto;
  color: red;
}

.table-container {
  margin: auto;
}

.table-row {
  display: flex;
}

.table-column {
  background-color: white;
  margin: 2px;

  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blank-space {
  background-color: rgb(0, 0, 0, 0);
  flex-basis: 5%;
}

.table-fname {
  flex-basis: 18%;
}

.table-lname {
  flex-basis: 17%;
}

.table-phone {
  flex-basis: 25%;
}

.table-email {
  flex-basis: 30%;
}

.table-header {
  background-color: black;
  color: white;
  font-weight: bolder;
}

.delete-btn {
  background-color: rgb(236, 73, 73);
  flex-basis: 5%;
  text-align: center;
  cursor: pointer;
}

.edit-btn {
  background-color: rgb(245, 192, 56);
  flex-basis: 5%;
  text-align: center;
  cursor: pointer;
}
